

<h1>Geode-cities</h1>
<h3>It rocks.</h3>
<hr />
<h2>Here are the web-pages</h2>
<ul>
    @foreach (var key in ViewBag.siteNames.Keys)
    {
        <li><a asp-controller="home" asp-action="ViewSite/@key"> @ViewBag.siteNames[key] </a></li>

    }
</ul>